@import "~bootstrap/scss/bootstrap";

$primary-color: #0f0e0e !important;
$secondary-color: #ca2703 !important;
$light-color:#777474!important;
$text-color: #fff8f8 !important;

.nav-custom {
    background-color: $light-color;
}

.nav-custom a {
    color: #221c1b;
}

.navbar-toggler-icon{
    background-color: $light-color;
}

body {
    background-color:$primary-color ;
    color : $text-color ;
}

h1 {
    color :$secondary-color;
    font-family: 'Staatliches';
}

h2 {
    color :$light-color;
    font-family: 'Big Shoulders Text'
}

p, table {
    color : $text-color ;
    font-family: 'Raleway';
}

.btn{
    color : $secondary-color;
}
